* {
    box-sizing: border-box;
}

body {
    background-color: #252830;
}


/*styles the cards that hold the launches*/

.card {
    background-color: #434857;
    padding: 10px;
    margin-bottom: 20px;
}

.card p {
    line-height: 200%;
}

.pageHeaderImg {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/page-header.jpg);
    background-size: cover;
    height: 100px;
    margin-bottom: 20px;
}

.pageHeaderImg h2 {
    color: #FFFFFF;
    margin-top: 30px;
}

.main {
    margin-top: 20px;
}

.container {
    color: #e9eaea !important;
}

.table-hover>tbody>tr:hover {
    background-color: #434857;
}

.table a:hover {
    color: inherit;
}

.launchImage img {
    max-height: 400px;
    overflow: hidden;
}

.clickable-row {
    cursor: pointer;
}

header {
    background-color: #434857;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header a {
    color: #e9eaea;
}

header a:hover {
    color: #e9eaea;
}

form {
    margin-bottom: 20px;
}

.hero {
    height: 400px;
    background-image: url('../images/shuttle-c.jpg');
    background-size: cover;
    background-position: center;
    clear: both;
    margin-top: -20px;
}

.divider {
    color: #434857;
    margin-top: 0;
    margin-bottom: 20px;
}

.tagLine {
    text-align: center;
    margin-bottom: 40px;
}

#logo {
    height: 70px;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}


/*icon color*/

.fa {
    color: #f9b233;
}

.clear {
    clear: both;
}

.info {
    margin-bottom: 20px;
}

.panels {
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.filter-table input[type="search"] {
    width: 250px;
    height: 32px;
    color: black;
    padding-left: 30px;
    border: none;
    margin-left: -10px;
}

.filter-table .fa-search {
    position: relative;
    left: 15px;
}

.viewLaunches {
    margin-top: 20px;
    float: right;
}

.btn-default {
    background-color: #434857;
    color: #ffffff;
}

@media screen and (max-width: 990px) {
    .viewLaunches {
        float: left;
        margin-top: 0;
    }
}